<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
    <style>
        body{
            background-color: aliceblue;
        }
        .about-item2 img{
            width: 30%;
            padding-left: 90px;
        }
    </style>

</head>
<body>
    <section id="aboutUs">
        <h1 class="hh"> About Tastzzz</h1>
        <!-- <img src="images/leaf.png" > -->
        <div class="aboutUs">
        <div class="aboutImg">
            <img src="/static/images/yogurt.png" alt="About section image">
        </div>
        <div class="aboutPara">
            <p class="bold">Lorem ipsum dolor sit amet consectetur.</p>
                <p>
                    Launched in 2021, Our technology platform connects customers, restaurant partners and delivery partners, serving their multiple needs. Customers use our platform to search and discover restaurants, read and write customer generated reviews and view, order food delivery and make payments while dining-out at restaurants. On the other hand, we provide restaurant partners with industry-specific marketing tools which enable them to engage and acquire customers to grow their business while also providing a reliable and efficient last mile delivery service. We also operate a one-stop procurement solution, Hyperpure, which supplies high quality ingredients and kitchen products to restaurant partners. We also provide our delivery partners with transparent and flexible earning opportunities.
            </p>
            <p>A meal delivery service (MDS) is a service that sends customers fresh or frozen,[5] prepared meals delivered to their homes[6] and offices.[7] These services individually package pre-portioned meals to assist with eating a healthy diet. These services cook and prepare meals for customers. Meals may come in small tupperware containers and are often labeled with nutritional information. There are also many options for specific diet types like vegetarian and vegan. These services often operate on a subscription business model rather than by individual order as in pizza delivery or with the broader category of online food ordering.

            
                An alternate type of meal [8]delivery service is a meal kit, which distributes ingredients and recipes that customers prepare themselves.[9]
                
                
                A man and a Starship Technologies delivery robot waiting at a pedestrian crossing in Redwood City, California
                Meal delivery orders are typically on demand, intended to be eaten right away, and include hot, already-prepared food. While some service providers offer subscription services, ordering for delivery usually involves contacting a local restaurant or chain by telephone or online. Online ordering is available in many countries, where some stores offer online menus and ordering. Since 1995, companies such as Waiter.com have their own interfaces where customers order food from nearby restaurants that have partnered with the service. Meal delivery requires special technology and care, since the food items are already cooked and prepared, and can be easily damaged if dropped, tilted, or left out for long periods of time. Hotbags are often used to keep food warm. They are thermal bags, typically made of vinyl, nylon, or Cordura, that passively retain heat.</p>
        </div>
        
    </div>
    </section>
    <div class="about-item2">
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, modi.</p> -->
        <img src="/static/images/straw.png" alt="starw">
        
    </div>
</body>
</html>


