<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restro</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9f7e4b1004.js" crossorigin="anonymous"></script>
</head>

<header>
    <div class="topbar">
        <div class="socio">
            <a href="https://m.facebook.com/100013904941416/"><i class="fa-brands fa-facebook"></i></a>&nbsp;
            <a href="https://www.instagram.com/b__nandini__/"><i class="fa-brands fa-instagram-square"></i></a>&nbsp;
            <a href="https://mobile.twitter.com/NandiniBhave"><i class="fa-brands fa-twitter-square"></i></a>&nbsp;
        </div>
        <div class="login">
            <!-- <i class="fa-solid fa-circle-user" ></i> Log in&nbsp;
            <span> |&nbsp; </span> 
            <i class="fa-solid fa-square-pen"></i> Register -->
        </div>
    </div>

    <div class="mid">
        <div class="cont">
            <i class="fa-solid midicon fa-square-phone"></i>
            <span> 
                <span class="bold">Call us:</span> (+91)9876543210
            </span><br>
            <span>
                <span class="bold">E-mail:</span> support@tastzzz.com
            </span>
        </div>
        <div class="logo">
            <img src="/static/images/logo1.jpeg" alt="logo">
        </div>
        <div class="timings">
            <i class="fa-solid midicon fa-clock"></i>
            <span class="bold">Working Hours:</span>
            <p>Mon - Sat (9:00am - 9:00pm)</p>
        </div>
    </div>

    <nav>
        <ul>
            <li>
                <a href="#welcome">Home</a>
            </li>
            <li>
                <a href="#menu_content">Top Products</a>
            </li>
            <li>
                <a href="#aboutUs">About us</a>
            </li>
            
            <li>
                <a href="#blog">Blog</a>
            </li>
            <li>
                <a href="shop.html" target="_blank">Shop</a>
            </li>
            <li>
                <a href="#services">Services</a>
            </li>
            <li>
                <a href="#gallery">Gallery</a>
            </li>
            <li>
                <a href="#contact">Contact us</a>
            </li>
            
            
        </ul>
    </nav>

</header>
<body>
    <div class="container">
        <section class="welcome">
        <div class="welcomeItem" id="welcomeItem1">
            <span class="h">Welcome to</span>
            <img src="/static/images/logo1.jpeg" alt="logo">
            <h1>Discover the best food & drinks</h1>
            <p>India's largest Food Delivery, Dining and Restaurant Discovery Service. Better food for more people.</p>
        </div>
        <div class="welcomeItem" id="welcomeItem3">
            <img src="/static/images/welcome.jpg" alt="welcome image">
        </div>
        
        <span class="welcomeItem" id="welcomeItem2">
            <a href="/about"><button class="btn btn-primary">Read More</button></a>
            <a href="/shop"><button class="btn btn-secondary">Shop Now</button></a>
        </span>
        
    </section>

        <section id="menu_content">
        <h1  class="hh" > Top Products</h1>
        <div class="menu">
            <div class="menuItem-1 menuu">
                <img src="/static/images/plate-3.png" >
                <p> Russian Salad</p>
                <p>&#8377;250/-</p>
                <a href="shop.html"><button class="btn"><i class="fa-solid fa-cart-shopping"></i> Buy now</button></a>

            </div>
            <div class="menuItem-2 menuu">
                <img src="/static/images/fast-6.png" alt="greek salad">
                <p>Chicken nuggets</p>
                <p>&#8377;250/-</p>
                <a href="shop.html"><button class="btn"><i class="fa-solid fa-cart-shopping"></i> Buy now</button></a>

            </div>
           
            <div class="menuItem-3 menuu">
                <img src="/static/images/drink-3.png" alt="cottage salad">
                <p>coco cola</p>
                <p>&#8377;250/-</p>
                <a href="shop.html"><button class="btn"><i class="fa-solid fa-cart-shopping"></i> Buy now</button></a>

            </div>
            <div class="menuItem-4 menuu">
                <img src="/static/images/full-1.png" alt="summer salad">
                <p>Fried rice</p>
                <p>&#8377;250/-</p>
                <a href="/shop"><button class="btn"><i class="fa-solid fa-cart-shopping"></i> Buy now</button></a>

            </div>
        </div>
        <a href="/shop"><button class="btn view"> View More </button></a>
    </div>
</section>

<!-- ABOUT SECTION roadmap -->
<!-- #aboutUs->.hh-> -> -->
<!--        '->.aboutus->.aboutImg -->
<!--                  '->.aboutPara -->
<section id="aboutUs">
    <h1 class="hh"> About Tastzzz</h1>
    <!-- <img src="images/leaf.png" > -->
    <div class="aboutUs">
    <div class="aboutImg">
        <img src="/static/images/yogurt.png" alt="About section image">
    </div>
    <div class="aboutPara">
        <p class="bold">Lorem ipsum dolor sit amet consectetur.</p>
            <p>
                Launched in 2021, Our technology platform connects customers, restaurant partners and delivery partners, serving their multiple needs. Customers use our platform to search and discover restaurants, read and write customer generated reviews and view, order food delivery and make payments while dining-out at restaurants. On the other hand, we provide restaurant partners with industry-specific marketing tools which enable them to engage and acquire customers to grow their business while also providing a reliable and efficient last mile delivery service. We also operate a one-stop procurement solution, Hyperpure, which supplies high quality ingredients and kitchen products to restaurant partners. We also provide our delivery partners with transparent and flexible earning opportunities.
        </p>
        <a href="/about"><button class="btn btn-secondary cen">Read More</button></a>
    </div>
    
</div>
</section>

<!-- SERVICES PAGE -->
<section id="services">
    <h1 class="hh"> Our Services</h1>
    <div class="serv">
        <div class="serv1">
            <i class="fa-solid fa-3x fa-truck"></i>
        <h3>Free Home Delivery</h3>
        <p>Just for you: FREE Shipping on your order! </p>
        </div>
       
    <div class="serv1">
        <i class="fa-solid fa-3x fa-hand-holding-dollar"></i>
        <h3>Money Back Guaranted</h3>
        <p>Incase if you cancel the order, you can get your money back for any purchase made within 30 days</p>
    </div>
        <div class="serv1">
            <i class="fa-solid fa-3x fa-bolt"></i>
            <h3>Super Fast Delivery</h3>
            <p>Experience Tastzzz's superfast delivery for food delivered fresh & on time</p>
        </div>
        
    
</div>
<!-- <button class="btn btn-secondary cen">Read More</button> -->
</section>

<section id="blog">
    <h1 class="hh"> Blog</h1>
    <div class="blog-items">
    <div class="blog1 item">
        <img src="/static/images/blog1.jpeg" alt="blog1 image">
        <p>Stuffed Poblano Peppers – loaded with lean ground turkey, hearty rice and black beans, nutritious tomatoes and corn, and finished with melty cheese</p>
       
    </div>
    <div class="blog2 item">
        <img src="/static/images/blog2.jpeg" alt="blog2 image">
        <p>Homestyle Braised Chicken Thighs with Vegetables – It’s such a cozy dish made with tender potatoes, nutritious carrots, protein-rich chicken thighs and a simple pan gravy. It’s a dinner everyone can agree on!</p>
    </div>
    <div class="blog3 item">
        <img src="/static/images/blog3.jpeg" alt="blog2 image">
        <p> Greek Orzo Salad  – this delicious pasta salad is made with tender orzo, bright tomatoes, crisp cucumbers, plenty of fresh herbs, tangy feta and olives, and it’s all tossed in a zesty lemony vinaigrette</p>
    </div>
</div>
    <a href="https://dailyinspirationaldose7.blogspot.com/2022/05/stuffed-poblano-peppers.html" class="link"><button class="btn btn-secondary cen">Read More</button></a>
</section>

<section id="gallery" class="gallery">
    <h2>our food <span>Gallery</span></h2>

    <div class="gallery-content">
      <!-- ---gallery card 01--- -->
      <div class="g-card">
        <img src="/static/images/img1.jpg" alt="Net Error" />
        <!-- <h3>delicious food</h3> -->
      </div>

      <!-- ---gallery card 02--- -->
      <div class="g-card">
        <img src="/static/images/img2.jpg" alt="Net Error" />
        <!-- <h3>delicious food</h3> -->
      </div>

      <!-- ---gallery card 03--- -->
      <div class="g-card">
        <img src="/static/images/img3.jpg" alt="Net Error" />
        <!-- <h3>delicious food</h3> -->
      </div>

      <!-- ---gallery card 04--- -->
      <div class="g-card">
        <img src="/static/images/img4.jpg" alt="Net Error" />
        <!-- <h3>delicious food</h3> -->
      </div>

      <!-- ---gallery card 05--- -->
      <div class="g-card">
        <img src="/static/images/img5.jpg" alt="Net Error" />
        <!-- <h3>delicious food</h3> -->
      </div>

      <!-- ---gallery card 06--- -->
      <div class="g-card">
        <img src="/static/images/img6.jpg" alt="Net Error" />
        <!-- <h3>delicious food</h3> -->
      </div>
    </div>
  </section>



<section id="offer">
    <h1 class="hh"> Subscribe</h1>
    <div class="offerContent">
    <div class="offer-item">
        <img src="/static/images/straw.png" alt="offer image">

    </div>
    <div class="offer-item">
    <p> To get the news of latest offer<br>Suscribe to our website</p>
    <input type="email" name="email" id="email" placeholder="Enter your valid email address">
    <button type="submit">Subscribe</button>
</div>
</div>
</section>




<section id="contact">
    <div class="contactContainer">    
        <div class="contactUp">
            <div class="header">
                <H1> CONTACT </H1>
            </div>
            
            <div class="contactBox">
                <div class="contactLeft">
                    <br> <br> <br> <br>
                    <p>Gulbarga Karnataka India</p>
                    <p>nandini2002nancy@gmail.com</p>
                    <p>123 456 7899</p>
                </div>
               
            </div>
            <div class="contactBox">
                <div class="contactInfo">            
                    <form>
                        <p id="cur">Hey there...!</p>
                       First Name <input type="text" class="line"> 
                       Last Name <input type="text" class="line"> <br>
                        Email <input type="email" class="line"> 
                        Phone <input type="tel" class="line"> <br>
                       <span class="space"> Feedback</span> &ensp;<textarea  class="line" rows="2" cols="50"></textarea><br>
                        <input type="Submit" class="button" >
                        <p id="cur">Thanks for submitting your feedback</p>
                    </form>
                </div>
            </div>
    
        </div>
    </div>
</section>
<div class="botAbout"></div>
<div class="quikLink"></div>
<div class="followUs"></div>
<div class="insta"></div>

    </div>

</body>

<footer>
    Copyright &copy;2020 All rights reserved by Tastzzz.
</footer>
</html>