<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restro-login</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9f7e4b1004.js" crossorigin="anonymous">
    </script>
    <script src = "log.js">     
    </script>
    <style>
        .log{
            border: 5px solid black;
        }
    </style>
</head>

<header>
    <div class="topbar">
        <div class="socio">
            <a href="https://m.facebook.com/100013904941416/"><i class="fa-brands fa-facebook"></i></a>&nbsp;
            <a href="https://www.instagram.com/b__nandini__/"><i class="fa-brands fa-instagram-square"></i></a>&nbsp;
            <a href="https://mobile.twitter.com/NandiniBhave"><i class="fa-brands fa-twitter-square"></i></a>&nbsp;
        </div>
        <div class="login">
            <!-- <i class="fa-solid fa-circle-user" ></i> Log in&nbsp;
            <span> |&nbsp; </span> 
            <i class="fa-solid fa-square-pen"></i> Register -->
        </div>
    </div>

    <div class="mid">
        <div class="cont">
            <i class="fa-solid midicon fa-square-phone"></i>
            <span> 
                <span class="bold">Call us:</span> (+91)9876543210
            </span><br>
            <span>
                <span class="bold">E-mail:</span> support@tastzzz.com
            </span>
        </div>
        <div class="logo">
            <img src="/static/images/logo1.jpeg" alt="logo">
        </div>
        <div class="timings">
            <i class="fa-solid midicon fa-clock"></i>
            <span class="bold">Working Hours:</span>
            <p>Mon - Sat (9:00am - 9:00pm)</p>
        </div>
    </div>

    <nav>
        <!-- <ul>
            <li>
                <a href="#welcome">Home</a>
            </li>
            <li>
                <a href="#menu_content">Top Products</a>
            </li>
            <li>
                <a href="#aboutUs">About us</a>
            </li>
            
            <li>
                <a href="#blog">Blog</a>
            </li>
            <li>
                <a href="shop.html" target="_blank">Shop</a>
            </li>
            <li>
                <a href="#services">Services</a>
            </li>
            <li>
                <a href="#gallery">Gallery</a>
            </li>
            <li>
                <a href="#contact">Contact us</a>
            </li>
            
            
        </ul> -->
    </nav>

</header>

<body>

    <div class="container">
        <section class="welcome">
        <div class="welcomeItem" id="welcomeItem1">
            <span class="h">Welcome to</span>
            <img src="/static/images/logo1.jpeg" alt="logo">
            <h1>Discover the best food & drinks</h1>
            <p>India's largest Food Delivery, Dining and Restaurant Discovery Service. Better food for more people.</p>
        </div>
        <div class="welcomeItem" id="welcomeItem3">
            <div class="login-page">
                <div class="form">
                  
                  <form action="/login" method="post" class="login-form">
                    <input type="email" name="email" placeholder="email"/>
                    <input type="password" name="password" placeholder="password"/>
                    <button type="submit">login</button>
                    <p class="message">Not registered? <a href="/register">Create an account</a></p>
                  </form>
                </div>
              </div>
              <!-- <h1>{{error}}</h1> -->
            <!-- <img src="./images/welcome.jpg" alt="welcome image"> -->
        

        </div>
        </div>

</body>
</html>